.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    padding-bottom: 30px;
}

.about-personal-information,
.about-academic-data,
.about-language-skills {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.about img {
    max-width: 285px;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}


/*  */

@media (max-width:768px) {
    .about-personal-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}