.navigation {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row-reverse;
    height: auto;
}

.navbar {
    background-color: #202020;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    width: 40px;
    height: 40px;
    padding: 1px 8px;
    border-radius: 50%;
    border: 1px solid white;
}

.navbar a.active {
    background-color: #1da002;
    color: rgb(230, 230, 230);
}


/*  */

.navbar a {
    position: relative;
    overflow: hidden;
    transition: .5s ease-in-out all;
    z-index: 2;
}

.navbar a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 44px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s ease-in-out all;
    z-index: -1;
}


/*  */

.navbar a:hover::after {
    background-color: #1da002;
    top: 0;
}


/* efecto cuando se haga hover sobre el boton activo de la barra de navegacion */

.navbar a.active:hover::after {
    background-color: #4111c5;
    top: 0;
}

.navbar a .icon {
    width: 25px;
    height: 25px;
}

@media screen and (max-width:768px) {
    .ocultar-navbar {
        display: none;
    }
    .mostrar-navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        gap: 10px;
        padding: 20px 10px;
        margin-bottom: 0;
        width: 100%;
    }
}