.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.tittle-page {
    text-transform: uppercase;
    color: #f5edeb;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

@media screen and (max-width:768px) {
    .projects-container {
        align-items: center;
        padding: 5px 2px;
    }
}

@media screen and (max-width:480px) {
    .projects-container {
        flex-direction: column;
    }
}