.App {
    text-align: center;
    color: #ddd;
}

.contenedor {
    margin: 0 10px;
}

.app-navbar {
    position: sticky;
    top: 0;
}

@media screen and (max-width:768px) {
    .contenedor {
        margin: 0 10px;
    }
}

@media screen and (max-width:480px) {
    .contenedor {
        margin: 0 5px;
    }
}